{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>SAPFLUXNET Home</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Home page for SAPFLUXNET project" />
		<meta name="keywords" content="sap flow database global" />
		<!--[if lte IE 8]><script src="home/css/ie/html5shiv.js"></script><![endif]-->
    <!-- Script to acces css files from js files: -->
    <script>
      style  = "{% static 'home/css/style.css' %}";
      xlarge  = "{% static 'home/css/style-xlarge.css' %}";
      large  = "{% static 'home/css/style-large.css' %}";
      medium  = "{% static 'home/css/style-medium.css' %}";
      small  = "{% static 'home/css/style-small.css' %}";
      xsmall  = "{% static 'home/css/style-xsmall.css' %}";
    </script>
		<script src="{% static 'home/js/jquery.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrollgress.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.slidertron.min.js' %}"></script>
		<script src="{% static 'home/js/skel.min.js' %}"></script>
		<script src="{% static 'home/js/skel-layers.min.js' %}"></script>
		<script src="{% static 'home/js/init.js' %}"></script>
    <noscript>
		  <link rel="stylesheet" type="text/css" href="{% static 'home/css/skel.css' %}"/>
		  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>
		  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style-xlarge.css' %}"/>
    </noscript>
    <link rel="shortcut icon" type="image/png" href="{% static 'home/media/fluxnet.ico' %}"/>
		<!--[if lte IE 9]><link rel="stylesheet" href="home/css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="home/css/ie/v8.css" /><![endif]-->
	</head>

  <body class="landing">

    <!-- Header -->
    <header id="header" class="alt skel-layers-fixed">
      <h1><a href="{% url 'index' %}">SAPFLUXNET <span>Project</span></a></h1>
      <nav id="nav">
        <ul>
          <li><a href="{% url 'team' %}">Team Members</a></li>
          <li><a href="{% url 'uploadform' %}">Upload Form</a></li>
          <li>
            <a href="" class="icon fa-angle-down">Shiny Apps</a>
            <ul>
              {% for app in list %}
                {% if app.is_showed %}
                  <li><a href="{{ app.show_url }}">{{ app }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h2>SAPFLUXNET</h2>
        <p>A global database of sap flow measurements</p>
        <ul class="actions">
          <li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki#sapfluxnet-wiki" class="button big scrolly">Learn More</a></li>
        </ul>
        <ul class="inner actions logos">
          <img src="{% static 'home/media/fluxnet_logo_2.png' %}" style="width:350px;height:53px;">
        </ul>
      </div>
    </section>

    <!-- Highlights -->
    <section id="shiny_dir" class="wrapper style2">
      <div class="container">
        <div class="row uniform">
          <div class="4u 6u(2) 12u$(3)">
            <section class="feature fa-globe">
              <h3> Global coverage </h3>
              <p> Sap flow meaurements from around the globe </p>
            </section>
          </div>
          <div class="4u 6u$(2) 12u$(3)">
            <section class="feature fa-share-alt">
              <h3> Data sharing and reuse </h3>
              <p> Promoting analyses of great scientific relevance and impact, and expanding the value of individual datasets </p>
            </section>
          </div>
          <div class="4u$ 6u(2) 12u$(3)">
            <section class="feature fa-area-chart">
              <h3> Progress updates </h3>
              <p> Updated metadata of the number of sites and species contributed to the database </p>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
			<footer id="footer">
        <ul class="icons">
					<li><a href="https://github.com/sapfluxnet/sapfluxnet-public" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="mailto:sapfluxnet@creaf.uab.cat" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki#sapfluxnet-wiki">Wiki</a></li>
					<li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki/Data-Submission-Guidelines">Data Submission Guidelines</a></li>
					<li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki/Data-Policy">Data Policy</a></li>
				</ul>
        <span class="copyright">
          The Sapfluxnet project is led by researchers at <a href="http://www.creaf.cat">CREAF</a>, and funded by the Spanish Ministry of Economy and Competitiveness through grant nº CGL2014-55883-JIN.</a>
				</span>
        <span class="copyright">
				  	Web template by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

  </body>
</html>
