
body {
	margin-top: 30px; 
	margin-left: 30px;
	margin-right: 30px;	
	font-size: 16px;
}

p.section {
	margin-top: 20px;
	font-size: 16px;
}

.form-control {    
    font-size: 12px;
}

.sendbutton {
	margin-top: 30px; 
	margin-bottom: 30px; 
}

.errorlist li {
	background-color: red;
	color: #FFF;	
}