{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SAPFLUXNET form</title>
		<link href="{% static 'sfnform/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'sfnform/base.css' %}" rel="stylesheet" media="screen">
		<link rel="shortcut icon" type="image/png" href="{% static 'sfnform/media/fluxnet.ico' %}"/>
	</head>
	<body>
		<div class="page-header">
        <img class="img-responsive" src="{% static 'sfnform/media/fluxnet_logo_2.jpg' %}">
		</div>
		<h1>SAPFLUXNET: A global database of sap flow measurements</h1>
		<h2>SAPFLUXNET Data Upload Form</h2>
		<p>SAPFLUXNET is an initiative aiming at compiling a <strong>global database of sap flow measurements</strong> in plants led by CREAF and an international team of researchers.</p>
		<p>The main goal of SAPFLUXNET is to advance in the scientific understanding of the ecological factors driving plant transpiration across the globe.</p>
		<p>Please see <a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki#sapfluxnet-wiki" target="_blank">the project wiki</a> for more information about the project.</p>
		<h3>Useful links</h3>
		<p>In order to prepare data adequately, contributors are encouraged to read carefully the following information:</p>
		<ol>
			<li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki/Data-Requirements#data-requirements" target="_blank">Data requirements</a></li>
			<li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki/Data-Submission-Guidelines" target="_blank">Data submission guidelines</a></li>
			<li><a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki/Data-Policy#sapfluxnet-data-policy-and-intellectual-property-guidelines" target="_blank">Data policy</a></li>
		</ol>
		<p>Template file for data submission can be found <a href="http://sapfluxnet.creaf.cat/static/sfnform/media/sapfluxnet_metadata_template.xlsx" target="_blank">here</a></p>
		<h3>Upload Data Quick Instructions</h3>
		<ul>
			<li>Fill in <code>contact email</code> and <code>site code</code> fields.</li>
			<li>Select desired files to upload (metadata, sapflow data and environmental data).</li>
			<li>Fill in the captcha box.</li>
			<li>Press <code>Send/Save</code> button.</li>
			<li>An email will be sent to the <code>contact email</code> provided indicating if the data has been succesfully uploaded.</li>
		</ul>
		<!--<form action="/form/" method="post">-->
		<h3>Upload Form</h3>
		<form action="{% url 'uploadform' %}" method="post" enctype="multipart/form-data">
			<div class="container-fluid">
				{% csrf_token %}
				<!--{{ form.as_p }}-->
                <div class="row">
					<div class="text-right col-xs-2"><label for="{{ form.email.id_for_label }}">Contact email:</label></div>
	    		    <div class="col-xs-3">{{ form.email }}</div>
					<div class="col-xs-2">{{ form.email.errors }}</div>
				</div>
                <div class="row">
					<div class="text-right col-xs-2"><label for="{{ form.site_id.id_for_label }}">Site Code (as specified in the 'si_code' variable of the template after filling in the data):</label></div>
	    		    <div class="col-xs-3">{{ form.site_id }}</div>
					<div class="col-xs-2">{{ form.site_id.errors }}</div>
				</div>
                <div class="row">
					<div class="text-right col-xs-2"><label for="{{ form.metadata_spreadsheet.id_for_label }}">Metadata spreadsheet (.ods, .xls, .xlsx) Template spreadsheets and the instructions to fill them in are <a href="https://github.com/sapfluxnet/sapfluxnet-public/wiki/Templates" target="_blank">here</a>:</label></div>
                    <div class="col-xs-1"></div>
	    		    <div id="metadata_file" class="col-xs-2">{{ form.metadata_spreadsheet }}</div>

					<div class="col-xs-2">{{ form.metadata_spreadsheet.errors }}</div>
				</div>
				<div class="row">
					<div class="text-right col-xs-2"><label for="{{ form.sapflow_file.id_for_label }}">Sap flow data file (.csv):</label></div>
                    <div class="col-xs-1">{{ form.sapflow_included }} <label>Click here if sap flow time series are already included in the metadata spreadsheet</label></div>
	    		    <div id="sapflow_file" class="col-xs-2">{{ form.sapflow_file }}</div>
					<div class="col-xs-2">{{ form.sapflow_file.errors }}</div>
				</div>
				<div class="row">
					<div class="text-right col-xs-2"><label for="{{ form.envdata_file.id_for_label }}">Environmental data file (.csv):</label></div>
                    <div class="col-xs-1">{{ form.envdata_included }} <label>Click here if environmental data time series are already included in the metadata spreadsheet</label></div>
	    		    <div id="envdata_file" class="col-xs-2">{{ form.envdata_file }}</div>
					<div class="col-xs-2">{{ form.envdata_file.errors }}</div>
				</div>
				<div class="text-right col-xs-2"><label for="{{ form.captcha.id_for_label }}">Please type the result of the operation you see in the picture:</label></div>
					<div class="col-xs-3">{{ form.captcha }}</div>
					<div class="col-xs-2">{{ form.captcha.errors }}</div>
				</div>
				<div class="sendbutton row">
					<input class="col-xs-2 col-xs-offset-1 btn btn-primary" type="submit" value="Send/Save">
				</div>
				<div>
					<p>If after pressing the button you don't receive an email indicating that the data has been succesfully updated, please repeat the process or send the data directly to <a href="mailto:sapfluxnet@creaf.uab.cat">sapfluxnet@creaf.uab.cat</a></p>
				</div>
			</div>
		</form>
	<!-- jQuery -->
  <script src="{% static 'sfnform/bootstrap/js/jquery.js' %}"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'sfnform/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Species mini form functions -->
  <script src="{% static 'sfnform/javascript/form_upload.js' %}"></script>
	</body>
</html>
